
<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="">
        <div *ngIf="navbarService.visible">
            <app-sidebar></app-sidebar>
        </div>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div>
    </div>

    <div class="main-panel">
        <div *ngIf="">

        </div>
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        <div *ngIf="isMap('maps')">
            <footer-cmp></footer-cmp>
        </div>
    </div>

</div>
