<div class="table_container">
  <div class="table_item">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <!-- Colonne id_constat -->
        <ng-container matColumnDef="id_paiement">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let paiement"> {{paiement.id_paiement}} </td>
        </ng-container>
      
        <!-- Colonne id_marché -->
        <ng-container matColumnDef="id_marche">
          <th mat-header-cell *matHeaderCellDef> Référence marché </th>
          <td mat-cell *matCellDef="let paiement"> {{paiement.id_marche}} </td>
        </ng-container>
      
        <!-- Colonne id_rubrique -->
        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef> Montant </th>
          <td mat-cell *matCellDef="let paiement"> {{paiement.montant}} </td>
        </ng-container>
      
        <!-- Colonne id_sous_rubrique -->
        <ng-container matColumnDef="date_paiement">
          <th mat-header-cell *matHeaderCellDef> Date de paiement </th>
          <td mat-cell *matCellDef="let paiement"> {{paiement.date_paiement}} </td>
        </ng-container>

        <!-- Colonne editer -->
        <ng-container matColumnDef="editer">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let constat">
              <button mat-button (click)="editDialog(employee)"> <mat-icon> brush </mat-icon> </button>
            </td>
        </ng-container>

        <!-- Colonne supprimer -->
        <ng-container matColumnDef="supprimer">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let constat">
                  <button mat-button (click)="deleteDialog(employee.id)"> <mat-icon> delete </mat-icon> </button>
              </td>
        </ng-container>

        <!-- Colonne ajouter -->
        <ng-container matColumnDef="ajouter">
            <th mat-header-cell *matHeaderCellDef>
              <button mat-raised-button (click)="addDialog()" color="accent"> <mat-icon> add </mat-icon> </button>
            </th>
            <td mat-cell *matCellDef="let constat">
              <button mat-button> </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="table_item">
    <div *ngIf="isLoading">
        <mat-progress-spinner color="accent" mode="indeterminate"> </mat-progress-spinner>
    </div>
  </div>
  <div class="table_item">
    <button mat-raised-button color="accent"> Charger les données depuis un fichier Excel </button>
  </div>
</div>
