<!--  ************************ Table marché ************************  -->
<!-- <div class="table_container">
    <div class="table_item">
        <table mat-table [dataSource]="data_source_marche" class="mat-elevation-z8">
            
            <ng-container matColumnDef="id_marche">
            <th mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let marche"> {{marche.id_marche}} </td>
            </ng-container>
        
            <ng-container matColumnDef="num_marche">
            <th mat-header-cell *matHeaderCellDef> Num marché </th>
            <td mat-cell *matCellDef="let marche"> {{marche.num_marche}} </td>
            </ng-container>
        
            <ng-container matColumnDef="intitule">
            <th mat-header-cell *matHeaderCellDef> Intitulé </th>
            <td mat-cell *matCellDef="let marche"> {{marche.intitule}} </td>
            </ng-container>
        
            <ng-container matColumnDef="duree_jour">
            <th mat-header-cell *matHeaderCellDef> Durée en jour </th>
            <td mat-cell *matCellDef="let marche"> {{marche.duree_jour}} </td>
            </ng-container>

            <ng-container matColumnDef="duree_mois">
                <th mat-header-cell *matHeaderCellDef> Durée en mois </th>
                <td mat-cell *matCellDef="let marche"> {{marche.duree_mois}} </td>
            </ng-container>

            <ng-container matColumnDef="montant_marche">
                <th mat-header-cell *matHeaderCellDef> Montant marché </th>
                <td mat-cell *matCellDef="let marche"> {{marche.montant_marche}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayed_columns_marche" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayed_columns_marche;"></tr>

        </table>
    </div>
    <div class="table_item">
        <div *ngIf="progress">
            <mat-progress-spinner color="accent" mode="indeterminate"> </mat-progress-spinner>
        </div>
    </div>
    <div class="table_item">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div> -->
<!--  ************************ FIn table marché ************************  -->


<!-- Les tabulations afin d'afficher chaque avancement (avancement marché, rubrique, sous-rubrique) tout seul -->
<mat-tab-group mat-align-tabs="center">

    <!--  ************************ Table Marche & taux d'avencement ************************  -->
    <mat-tab label="Table des informations">
        <div class="table_container">
            <div class="table_item">
                <h3> Informations générales ! </h3>
            </div>

            <!-- Filter de date -->
            <form [formGroup]="filtreForm">
                <div class="table_item">
                    <!-- <div class="form-group">
                        <mat-form-field>
                            <mat-select (selectionChange)="remplirSelectRubriqueDependMarcheSelectionne()" name="id_marche" class="form-control" formControlName="id_marche" placeholder="Marché">
                                <mat-option *ngFor="let marche of marchesList" [value]="marche.id_marche"> {{marche.intitule}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <div class="form-group">
                        <mat-form-field>
                            <mat-select (selectionChange)="remplirSelectRubriqueDependMarcheSelectionne()" name="id_marche" class="form-control" formControlName="id_marche" placeholder="Marché">
                                <mat-option *ngFor="let marche of marchesList" [value]="marche.id_marche"> {{marche.num_marche}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-select #rubriqueSelect (selectionChange)="remplirSelectSousRubriqueDependRubriqueSelectionnee()" name="id" class="form-control" formControlName="id" placeholder="Rubriques">
                                <mat-option *ngFor="let rubrique of rubriques_depend_marche_pour_filtre" [value]="rubrique.id"> {{rubrique.lib_rubrique}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-select (selectionChange)="avoirValeurSousRubrique()" name="id_sous_rubrique" class="form-control" formControlName="id_sous_rubrique" placeholder="Sous-rubrique">
                                <mat-option *ngFor="let sousRubrique of sous_rubriques_depend_rubrique_pour_filtre" [value]="sousRubrique.id_sous_rubrique"> {{sousRubrique.lib_sous_rubrique}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="table_item">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label> Depuis </mat-label>
                            <mat-select  name="date_debut" formControlName="date_debut" class="form-control">
                                <mat-option *ngFor="let periode of distinctPeriodes" [value]="periode.date_debut"> {{periode.date_debut}} </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="submitted && filtreForm.get('date_debut').hasError('required')">
                                La date est obligatoire !
                            </mat-error> -->
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label> Au </mat-label>
                            <mat-select name="date_fin" formControlName="date_fin" class="form-control">
                                <mat-option *ngFor="let periode of distinctPeriodes" [value]="periode.date_fin"> {{periode.date_fin}} </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="submitted && filtreForm.get('date_fin').hasError('required')">
                                La date est obligatoire !
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="table_item">
                    <div class="form-group">
                        <button mat-raised-button color="primary" class="primary" (click)="filtrer()"> Filtrer par date </button>
                    </div>
                    <div class="form-group">
                        <button mat-raised-button color="primary" class="primary" (click)="annulerFiltrage()"> Annuler le filtrage </button>
                    </div>
                </div>
            </form>
            <!-- <form [formGroup]="filtreForm">
                <div class="table_item">
                    <mat-form-field>
                        <input matInput [matDatepicker]="fromDate" placeholder="Depuis" formControlName="fromDate">
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="table_item">
                    <mat-form-field>
                        <input matInput [matDatepicker]="toDate" placeholder="Vers" formControlName="toDate">
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="table_item">
                    <button mat-raised-button color="primary" class="primary" (click)="filtrerDate()"> Filter </button>
                </div>
            </form> -->
            <!-- Fin du filter de date -->
            <!-- <div class="table_item">
                <mat-form-field class="filter">
                    <input matInput (keyup)="filtrerInformationsView($event.target.value)" placeholder="Que recherchez-vous ?">
                </mat-form-field>
            </div> -->
            <div class="table_item">
                <table mat-table [dataSource]="data_source_table_informations_view" #sort_informations_view="matSort" matSort>

                    <ng-container matColumnDef="num_marche" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Marché. </th>
                    <td mat-cell *matCellDef="let informationView"> {{informationView.num_marche}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="rubrique">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rubrique. </th>
                    <td mat-cell *matCellDef="let informationView"> {{informationView.rubrique}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="sous_rubrique">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sous-Rubrique. </th>
                    <td mat-cell *matCellDef="let informationView"> {{informationView.sous_rubrique}} </td>
                    </ng-container>

                    <ng-container matColumnDef="periode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Période. </th>
                    <td mat-cell *matCellDef="let informationView"> {{informationView.periode }} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="valeur_cible">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date début. </th>
                    <td mat-cell *matCellDef="let informationView"> {{informationView.date_debut }} </td>
                    </ng-container>

                    <ng-container matColumnDef="valeur_constat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date fin. </th>
                    <td mat-cell *matCellDef="let informationView"> {{informationView.date_fin }} </td>
                    </ng-container> -->

                    <ng-container matColumnDef="valeur_cible">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qte ciblé. </th>
                    <td mat-cell *matCellDef="let informationView"> {{informationView.valeur_cible }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="valeur_constat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qte réalisée. </th>
                    <td mat-cell *matCellDef="let informationView"> {{informationView.valeur_constat }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayed_columns_table_informations"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayed_columns_table_informations;"></tr>
                </table>
            </div>
            <div class="table_item">
                <div *ngIf="progress">
                    <mat-progress-spinner color="button-raised-accent" mode="indeterminate"> </mat-progress-spinner>
                </div>
            </div>
            <div class="table_item">
                <mat-paginator #paginator_informations_view [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </mat-tab>
      
    <!--  ************************ Table Marche & taux d'avencement ************************  -->
    <mat-tab label="Avancement du marché">
        <div class="table_container">
            <div class="table_item">
                <h3> Taux d'avancement du marché ! </h3>
            </div>
            <div class="table_item">
                <mat-form-field class="filter">
                    <input matInput (keyup)="filtrerMarcheView($event.target.value)" placeholder="Que recherchez-vous ?">
                </mat-form-field>
            </div>
            <div class="table_item">
                <table mat-table [dataSource]="data_source_marche_view" #sort_marche_view="matSort" matSort>
                    
                    <ng-container matColumnDef="marche">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Marché. </th>
                    <td mat-cell *matCellDef="let marcheView"> {{marcheView.marche}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="periode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Période. </th>
                    <td mat-cell *matCellDef="let marcheView"> {{marcheView.periode}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="taux_avancement_marche">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Taux avancement. </th>
                    <td mat-cell *matCellDef="let marcheView"> {{marcheView.taux_avancement_marche | number : '1.1-1' }} % </td>
                    </ng-container>

                    <ng-container matColumnDef="progress_bar">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avancement. </th>
                        <td mat-cell *matCellDef="let marcheView"> 
                            <mat-progress-bar [value]="marcheView.taux_avancement_marche" mode="determinate"> 
                                    {{ marcheView.taux_avancement_marche }}
                            </mat-progress-bar>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayed_columns_marche_avancement" ></tr>
                    <tr mat-row *matRowDef="let row; columns: displayed_columns_marche_avancement;"></tr>
                </table>
            </div>
            <div class="table_item">
                <div *ngIf="progress">
                    <mat-progress-spinner color="accent" mode="indeterminate"> </mat-progress-spinner>
                </div>
            </div>
            <div class="table_item">
                <mat-paginator #paginator_marche_view [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </mat-tab>
    <!--  ************************ Table Marche & taux d'avencement ************************  -->

    <hr>

    <!--  ************************ Table rubrique & taux d'avencement ************************  -->
    <mat-tab label="Avancement de la rubrique">
        <div class="table_container">
            <div class="table_item">
                <h3> Taux d'avancement de la rubrique ! </h3>
            </div>
            <div class="table_item">
                <mat-form-field class="filter">
                    <input matInput (keyup)="filtrerRubriqueView($event.target.value)" placeholder="Que recherchez-vous ?">
                </mat-form-field>
            </div>
            <div class="table_item">
                <table mat-table [dataSource]="data_source_rubrique_view" #sort_rubrique_view="matSort" matSort>
                    
                    <ng-container matColumnDef="marche">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Marché. </th>
                    <td mat-cell *matCellDef="let rubriqueView"> {{rubriqueView.marche}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="rubrique">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rubrique. </th>
                    <td mat-cell *matCellDef="let rubriqueView"> {{ rubriqueView.rubrique }} </td>
                    </ng-container>

                    <ng-container matColumnDef="periode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Période. </th>
                    <td mat-cell *matCellDef="let rubriqueView"> {{rubriqueView.periode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="taux_avancement_rubrique">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Taux avancement. </th>
                    <td mat-cell *matCellDef="let rubriqueView"> {{rubriqueView.taux_avancement_rubrique | number : '1.1-1'}} % </td>
                    </ng-container>

                    <ng-container matColumnDef="progress_bar">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avancement. </th>
                        <td mat-cell *matCellDef="let rubriqueView"> 
                            <mat-progress-bar [value]="rubriqueView.taux_avancement_rubrique" mode="determinate"> 
                                {{ rubriqueView.taux_avancement_rubrique }}
                            </mat-progress-bar>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayed_columns_rubrique_avancement" ></tr>
                    <tr mat-row *matRowDef="let row; columns: displayed_columns_rubrique_avancement;"></tr>
                </table>
            </div>
            <div class="table_item">
                <div *ngIf="progress">
                    <mat-progress-spinner color="accent" mode="indeterminate"> </mat-progress-spinner>
                </div>
            </div>
            <div class="table_item">
                <mat-paginator #paginator_rubrique_view [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </mat-tab>
    <!--  ************************ Table rubrique & taux d'avencement ************************  -->

    <hr>

    <!--  ************************ Table sous-rubrique & taux d'avencement ************************  -->
    <mat-tab label="Avancement de la sous-rubrique">
        <div class="table_container">
            <div class="table_item">
                <h3> Taux d'avancement de la sous-rubrique ! </h3>
            </div>
            <div class="table_item">
                <mat-form-field class="filter">
                    <input matInput (keyup)="filtrerSousRubriqueView($event.target.value)" placeholder="Que recherchez-vous ?">
                </mat-form-field>
            </div>
            <div class="table_item">
                <table mat-table [dataSource]="data_source_sous_rubrique_view" #sort_sous_rubrique_view="matSort" matSort>
                    
                    <ng-container matColumnDef="marche">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Marché. </th>
                    <td mat-cell *matCellDef="let sousRubriqueView"> {{sousRubriqueView.marche}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="rubrique">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rubrique. </th>
                    <td mat-cell *matCellDef="let sousRubriqueView"> {{ sousRubriqueView.rubrique }} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="sous_rubrique">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sous-rubrique. </th>
                    <td mat-cell *matCellDef="let sousRubriqueView"> {{sousRubriqueView.sous_rubrique}} </td>
                    </ng-container>

                    <ng-container matColumnDef="periode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Période. </th>
                    <td mat-cell *matCellDef="let sousRubriqueView"> {{sousRubriqueView.periode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="taux_avancement_sous_rubrique">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Taux avancement. </th>
                    <td mat-cell *matCellDef="let sousRubriqueView"> {{sousRubriqueView.taux_avancement_sous_rubrique | number : '1.1-1'}} % </td>
                    </ng-container>

                    <ng-container matColumnDef="progress_bar">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avancement. </th>
                        <td mat-cell *matCellDef="let sousRubriqueView"> 
                            <mat-progress-bar [value]="sousRubriqueView.taux_avancement_sous_rubrique" mode="determinate"> 
                                    {{ sousRubriqueView.taux_avancement_sous_rubrique }}
                            </mat-progress-bar>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayed_columns_sous_rubrique_avancement" ></tr>
                    <tr mat-row *matRowDef="let row; columns: displayed_columns_sous_rubrique_avancement;"></tr>
                </table>
            </div>
            <div class="table_item">
                <div *ngIf="progress">
                    <mat-progress-spinner color="accent" mode="indeterminate"> </mat-progress-spinner>
                </div>
            </div>
            <div class="table_item">
                <mat-paginator #paginator_sous_rubrique_view [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </mat-tab>
    <!--  ************************ Table sous-rubrique & taux d'avencement ************************  -->
<!-- Fin des tabulations -->
</mat-tab-group>

<hr>


<!--  ************************ Les diagrammes graphiques ************************  -->
<!-- Taux d'avancement d'une sous-rubrique -->

<!-- <form [formGroup]="sousRubriqueForm">
    <div class="container">
        <div class="item">
            Seléctionner une sous-rubrique :
        </div>
        <div class="item">
            <div class="form-group">
                <mat-form-field>
                    <mat-select class="form-control" placeholder="Veuillez seléctionner une rubrique" name="id_sous_rubrique" formControlName="id_sous_rubrique">
                        <mat-option *ngFor="let sous_rubrique of liste_des_sous_rubriques" [value]="sous_rubrique.id_sous_rubrique"> {{sous_rubrique.lib_sous_rubrique}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="item">
            <div class="form-group">
                <button type="submit" mat-raised-button color="accent" (click)="calculeTauxAvancement()"> Taux d'avancement </button>            
            </div>
        </div>
    </div>
    <div class="container">
        <div class="item" *ngIf="isLoading">
            Le Taux d'avancement est : {{ taux_avancement | number : '2.1' }} % <br>
        </div>
    </div>
</form>



<hr>



<form [formGroup]="marcheForm">
    <div class="container">
        <div class="item">
            Seléctionner un marché : 
        </div>
        <div class="item">
            <div class="form-group">
                <mat-form-field>
                    <mat-select class="form-control" placeholder="Marché" name="id_marche" formControlName="id_marche">
                        <mat-option *ngFor="let marche of marchesList" [value]="marche.id_marche"> {{marche.intitule}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="item">
            <div class="form-group">
                <button type="submit" mat-raised-button color="accent" (click)="afficherDiagrammeMarche()"> Diagramme de marché </button>            
            </div>
        </div>
    </div>
</form>



<hr>




<form [formGroup]="rubriqueForm">
    <div class="container">
        <div class="item">
            Seléctionner une rubrique : 
        </div>
        <div class="item">
            <div class="form-group">
                <mat-form-field>
                    <mat-select class="form-control" placeholder="Rubriques" name="id" formControlName="id">
                        <mat-option *ngFor="let rubrique of rubriquesList" [value]="rubrique.id"> {{rubrique.lib_rubrique}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="item">
            <div class="form-group">
                <button type="submit" mat-raised-button color="accent" (click)="afficherDiagrammeRubrique()"> Diagramme de rubrique </button>            
            </div>
        </div>
    </div>
</form>



<hr>



<form [formGroup]="sousRubriqueForm">
    <div class="container">
        <div class="item">
            Seléctionner une sous-rubrique :
        </div>
        <div class="item">
            <div class="form-group">
                <mat-form-field>
                    <mat-select class="form-control" placeholder="Veuillez seléctionner une rubrique" name="id_sous_rubrique" formControlName="id_sous_rubrique">
                        <mat-option *ngFor="let sousRubrique of sousRubriquesList" [value]="sousRubrique.id_sous_rubrique"> {{sousRubrique.lib_sous_rubrique}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="item">
            <div class="form-group">
                <button type="submit" mat-raised-button color="accent" (click)="afficherDiagrammeSousRubrique()"> Diagramme de sous-rubrique </button>            
            </div>
        </div>
    </div>
</form>


<div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
</div> -->

<!--  ************************ fin des diagrammes graphiques ************************  -->