<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Acceuil
                    </a>
                </li>
                <li>
                    <a href="#">
                        Marché
                    </a>
                </li>
                <li>
                    <a href="#">
                        Paiement
                    </a>
                </li>
                <li>
                    <a href="#">
                        Rubrique
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            {{date | date: 'yyyy'}} &copy; <a href="http://www.novec.ma/">  NOVEC </a>, Technopolis, Rabat
        </p>
    </div>
</footer>
